{% extends "::layout.html.twig" %}

{% block title %}PACoreBundle:Home:home{% endblock %}

{% block content %}
{% block header %}
 <div class="row">
 <div class = "col-md-3">
 	<img  src="{{asset('pictures/logo.png')}}" alt="..." class="img-responsive" width="60" height="60">
 </div>
  <div class = "col-md-9">
	<img  src="{{asset('pictures/baniere.png')}}" alt="..." class="img-responsive" width="60" height="60">
 </div>

</div>

 <div class="row">
	 <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="{{ path("pa_wiki_explorer") }}">Encyclopédie</a></li>
	        
	        {% if (is_granted("IS_AUTHENTICATED_FULLY")) %}
	       		 <li><a href="{{ path("pa_game_home") }}">Jeu</a></li>
	        {% endif %}
	        
	        <li><a href="#">Forum</a></li>
	        <li><a href="#">Contact</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
	    {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
{%  endblock %}
{% block body %}

 <div class="container row">
	 <div class="col-md-2">
 	{% if (not is_granted("IS_AUTHENTICATED_FULLY")) %}
		{{ render(controller("FOSUserBundle:Registration:register")) }}
		{{ render(controller("FOSUserBundle:Security:login")) }}
	{% else %}
         {{ app.user.username}} 
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'Deconnection'|trans({}, 'FOSUserBundle') }}
                </a>
	{%endif%}
 	</div>
 	
 	<div class="col-md-8">
 	{% block central_content %}
 	{% endblock %}
 	 </div>
 	
 	<div class = "col-md-2">
 {% endblock %}
 	
 	
 	</div>
</div>
{% endblock %}
